main{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

button {
    color: rgb(23, 70, 82);
    background-color: rgb(130, 175, 233);
    border-radius: 8px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    height: 30px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.722);
    border-radius: 10px;
}

.todo-table > thead{
    background-color: rgb(130, 175, 233);
    table-layout: fixed;
}

.todo-table > thead > tr > th {
    font-weight: 400;
    font-size: 16px;
    padding: 3px;
}

.todo-table th:nth-child(1) { width: 70px; }     /* 체크박스 열 */
.todo-table th:nth-child(2) { width: 100px; }     /* 중요도 */
.todo-table th:nth-child(3) { width: 100px; }    /* 완료됨 */
.todo-table th:nth-child(4) { width: auto; } 

.todo-input-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 30px;
}

.todo-input{
    flex: 1;    
}

.todo-control-button-group{
    display: flex;
    align-self: flex-end;
    gap: 5px;
}